menu "Com Thingsboard Configuration"

    config TB_TELEMETRY_TOPIC
        string "Thingsboard Telemetry Topic"
        default "v1/devices/me/telemetry"
        help
            Topic to publish/subscribe to in order to send telemetry to TB

    config TB_ATTRIBUTES_TOPIC
        string "Thingsboard Attributes Topic"
        default "v1/devices/me/attributes"
        help
            Topic to publish/subscribe to in order to send attributes with TB

endmenu