menu "Com Thingsboard Configuration"

    config TB_TELEMETRY_TOPIC
        string "Thingsboard Telemetry Topic"
        default "v1/devices/me/telemetry"
        help
            Topic to publish/subscribe to in order to send telemetry to TB

    config TB_RESPONSE_TOPIC
        string "Thingsboard Response Topic"
        default "v1/devices/me/rpc/response/"
        help
            Topic to publish/subscribe to in order to answer requests from TB

endmenu